{% extends "base.html" %}
{% block title %}Empréstimos{% endblock %}
{% block content %}
<h1>Parte 3 – Empréstimos</h1>

<form method="POST">
    <input type="number" name="userId" placeholder="ID Usuário" required>
    <input type="number" name="bookId" placeholder="ID Livro" required>
    <input type="hidden" name="tipo" value="ALUNO">
    <button type="submit">Emprestar</button>
</form>

<h2>Empréstimos Ativos</h2>
<table>
    <tr><th>ID</th><th>Usuário</th><th>Livro</th><th>Emprestado</th><th>Devolução</th><th>Status</th></tr>
    {% for e in emprestimos %}
    <tr>
        <td>{{ e[0] }}</td><td>{{ e[1] }}</td><td>{{ e[2] }}</td><td>{{ e[3][:10] }}</td><td>{{ e[4][:10] }}</td><td>{{ e[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}